@model List<Tarea2AlessandroFavareto.Models.Grid>


@{
	ViewBag.Title = "Index";
}

<h2>Index</h2>


<table class="table">
	<tr>
		<th>
			Posición
		</th>
		<th>
			Nombre
		</th>
		<th>
			Clasificación
		</th>
		<th>
			Porcentaje
		</th>
		<th></th>
	</tr>
	@Html.ActionLink("Agregar", "Create", "Encuestas")
	@foreach (var item in Model)
	{
		<tr>
			<td>
				@Html.DisplayFor(modelItem => item.Posicion)
			</td>
			<td>
				@Html.DisplayFor(modelItem => item.Nombre)
			</td>
			<td>
				@Html.DisplayFor(modelItem => item.Clasificacion)
			</td>
			<td>
				@Html.DisplayFor(modelItem => item.Porcentaje)
			</td>

		</tr>
	}



</table>
